*{
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    box-sizing: border-box;
}

body{
    margin: 0;    
}
.header{
    background-color: lightslategray;
    color: linen;
    width: 100vw;
    height: 70px;
    margin-bottom: 10px;
       
}
table{
    margin: 2em auto;
    border-collapse: collapse;
    padding: 2px;
    margin: 0 auto;
    margin-top: 10px;
    border-style: hidden; 
    box-shadow: 0 0 0 1px #ddd; 
    border-radius: 4px;
}

input ,button{
    border-radius: 5px;
    margin-top: 5px;
}

.shop-table td {
    border: 1px solid #ddd;
    padding: 0.5em 0.5em;
}

.modal-container{
    background-color: lightcyan;
    width: 100vw;
    height: 100%;   
}

tbody tr:nth-child(odd){
    background-color: #eee;
}



.modal{
    position: fixed;
    background-color: blanchedalmond;
    width: 80vw;
    margin: 0 auto;
}

.add-book{

}

.delete-all{

}

.read-book, .update-book, .delete-book, .modal button{
    text-decoration: none;
    padding: 0.2em 0.6em;
    border-radius: 7px;
    color: white;
    /* background-color: black; */
    cursor: pointer;
    border: none;
}

.read-book{
    background-color: blue;
}

.update-book{
    background-color: orange;
}

.delete-book{
    background-color: red;
}

.modal button{
background-color: black;
}